<launch>
    
  <arg name="calib_fn" default="$(find vpi_resample_fisheye)/calib/kalibr.yaml" />
  <arg name="cam_idx" default="0" />
  <arg name="out_size" default="300, 200" />
  <arg name="out_fov" default="90, 40" />

  <arg name="test_data_dir" default="$(find vpi_resample_fisheye)/data" />
  <arg name="test_output_dir" default="$(find vpi_resample_fisheye)/test_output" />

  <node name="vpi_resample_fisheye_noden_no_fancy_0" 
        pkg="vpi_resample_fisheye" 
        type="vpi_resample_fisheye_node_no_fancy" 
        output="screen" 
        disable-launch-prefix="gdb --args">

    <param name="calib_fn" type="str" value="$(arg calib_fn)" />
    <param name="cam_idx" type="int" value="$(arg cam_idx)" />
    <param name="out_size" type="str" value="$(arg out_size)" />
    <param name="out_fov" type="str" value="$(arg out_fov)" />

    <param name="backend_type" type="str" value="cuda" />

    <param name="test_data_dir" type="str" value="$(arg test_data_dir)" />
    <param name="test_output_dir" type="str" value="$(arg test_output_dir)" />
  </node>
</launch>
